{{ $Xzya := "<a href='https://github.com/NotWoods'>Tiger Oakes</a>" }}
{{ $HugoThemeBootstrap4Blog := "<a href='https://github.com/Xzya/hugo-bootstrap'>hugo-bootstrap</a>" }}
{{ $links := (dict "Xzya" $Xzya "HugoThemeBootstrap4Blog" $HugoThemeBootstrap4Blog ) }}
{{ $thanks := i18n "thanks" $links | safeHTML }}

{{ $copyright := default $thanks .Site.Copyright }}
{{ $colorScheme := default "light" .Site.Params.footer.colorScheme }}

<footer class="blog-footer w-100">
    <nav class="navbar navbar-{{ $colorScheme }} bg-{{ $colorScheme }}">
        {{ partial "brand" . }}
        <p class="w-100 text-center"><a href="#">{{ i18n "backToTop" }}</a></p>
    </nav>
</footer>
