@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&display=swap');
.bg-light{
  background-color: rgb(239,239,239)!important;
}
a,
.text-primary {
  color: #a27d2a!important
}
.bg-primary {
  background-color: #a27d2a!important
}
.btn-primary {
  color: #fff;
  background-color: #a27d2a;
  border-color: #a27d2a;
}
body {
  line-height: 1.9;
}
h1, h2, h3, h4, h5 {
  font-family: 'EB Garamond', serif;
  font-weight:400;
  line-height: 1.2em;
}
.blog-post, .blog-pagination {
  margin-bottom: 2rem;
}
.page-header nav,
footer nav,
.container {
  max-width: 94vw;
  margin:auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-750 {
  max-width:750px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-1000 {
  max-width:1120px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* Make sure the image size is reasonable. */
.blog-post img {
  max-width: 100%;
}
p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1.85rem;
  font-weight: 300;
}
.form-control,
.form-select {
  font-size: .95em;
}
.hero-text {
    min-height:70vh;
    height:70vh
}
.hero-bg-image {
    background-image:url('/images/aerospace.webp');
    background-size:cover;
    max-height: 60vh;
    overflow: hidden;
  }
.page-header,
.hero-text-area {
  background-color:rgba(0,0,0,.55);
}
.block-number {
  font-size: 140%;
}
.block-text {
  font-size: 90%;
}
.block-title {
    font-size: 1.8rem;
    padding-top: 1rem;
    padding-bottom: .4rem;
    border-top: 3px solid #a27d2a;
}
#reason {
  padding: 1rem 2rem;
}

#finance {
  margin-bottom: -4em;
  background: rgb(239,239,239);
  background: -moz-linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 68%, rgba(239,239,239,0) 68%);
  background: -webkit-linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 68%, rgba(239,239,239,0) 68%);
  background: linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 68%, rgba(239,239,239,0) 68%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efefef",endColorstr="#efefef",GradientType=1);]
}
  @media (min-width: 992px) {
    .block-number {
      font-size: 180%;
    }
    .hero-bg-image {
      max-height: 90vh;
    }
    .block-title {
      font-size: 2.6rem;
      padding-top: 1rem;
      padding-bottom: 1.5rem;
      border-top: 3px solid #a27d2a;
    }
    .block-text {
      font-size: 100%;
    }
  }