@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&display=swap');
body {
  line-height: 1.9;
}
h1, h2, h3, h4, h5 {
  font-family: 'EB Garamond', serif;
  font-weight:400;
  line-height: 1.2em;
}
.blog-post, .blog-pagination {
  margin-bottom: 2rem;
}
.page-header nav,
footer nav,
.container {
  max-width: 94vw;
  margin:auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-750 {
  max-width:750px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-1000 {
  max-width:1120px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* Make sure the image size is reasonable. */
.blog-post img {
  max-width: 100%;
}
p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1.85rem;
  font-weight: 300;
}
.form-control,
.form-select {
  font-size: .95em;
}
.hero-text {
    min-height:64vh;
    height:90vh"
}
.hero-bg-image {
    background-image:url('/static/images/aerospace.webp');
    background-size:cover;
    max-height: 50vh;
    overflow: hidden;
  }
  .pageheader, 
  .hero-text-area {
    background-color:rgba(0,0,0,.55);
  }