<footer class="bg-dark blog-footer w-100">
    <nav class="px-3 navbar">
        <div class="row w-100">
            <div class="col-12 col-lg-5">
                {{ partial "brand" . }}
            </div>
            <div class="ms-auto col-12 col-lg-6 text-end text-lg-end">
                <p class="text-white"> TERMS & CONDITIONS | PRIVACY POLICY <br /> © 2021 {{ .Site.Title }} </p>
            </div>
            <div class="col-lg-1 text-end text-lg-end">
                <a href="#hero" class="text-white display-5"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
                  </svg></a>
            </div>
        </div>
    </nav>
</footer>