{{ $colorScheme := default "light" .Site.Params.header.colorScheme }}
<div id="hero" class="hero-bg-image">
    <header class="page-header">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid p-0">
                <a class="navbar-brand text-white" href="{{ .Site.BaseURL | relLangURL }}">
                    <i>
                        <svg style="width: 36px;" fill="currentcolor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                            <path 
                                d="M40.33 5L29.6 45H3c-.46 0-.87-.32-.97-.77-.11-.45.11-.92.52-1.12 1.33-.67 2.54-1.25 3.65-1.79 6.56-3.15 9.55-4.58 13.94-11.84 3.19-5.25 11.74-21.75 11.82-21.91C32.87 5.97 34.53 5 36.33 5H40.33zM47.98 6.18l-7 38C40.9 44.66 40.48 45 40 45h-8.33L42.4 5H47c.3 0 .58.13.77.36C47.96 5.59 48.04 5.89 47.98 6.18z">
                            </path>
                        </svg>
                    </i>
                    {{ partial "brand" . }}
                </a>
            </div>
        </nav>
    </header>