{{ define "main" }}
<div class="hero-text-area pb-4">
    <div class="container">
        <div class="hero-text row py-4 position-relative">
            <div class="col-12 col-lg-12 pt-1 pt-lg-4">
                <main class="w-100 w-lg-50 p-3 border-start border-3" style="max-width:720px;">
                    <h1 class="text-white display-4">This Acquisitions Is Looking To Acquire Firmly Established
                        Companies </h1>
                </main>
            </div>
            <div class="col-12 text-center">
                <a href="#reason" class="text-white display-1 position-absolute fixed-bottom"><svg
                        xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                        class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg></a>
            </div>
        </div>
    </div>
</div>
</div>
<div id="reason" class="container-1000 mt-3">
    <div class="row pt-3 pb-4">
        <div class="col-9 col-lg-6 mb-3">
            <h2 class="h1">There Are Many <strong>Good Reasons</strong> To Sell Your Business:</h2>
        </div>
        <div class="col-12 col-lg-6">
            <ul class="list-unstyled">
                <li class="d-flex">
                    <span class="text-primary pe-2">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:24px;" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                    </span>
                    <span>You’re ready for other opportunities outside of your current business</span>
                </li>
                <li class="d-flex">
                    <span class="text-primary pe-2">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:24px;" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                    </span>
                    <span>You’re ready for the next stage in your life</span>
                </li>
                <li class="d-flex">
                    <span class="text-primary pe-2">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:24px;" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                    </span>
                    <span>You're ready to cash-in on your efforts</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="pb-3">
    <div class="container">
        <div class="row d-none d-lg-block">
            <div class="pt-5 pb-3 ps-5 col-8 col-lg-8 mb-5 position-relative"
                style="background-image:url(/images/team-image-1.jpg);min-height:74vh;width:70vw;background-size:cover;background-repeat:no-repeat;">
                <div class="text-white mt-5 p-5 position-absolute fixed-bottom" style="max-width:540px;">
                    <h3>Many Have Made A Fortune</h3>
                    <p>After spending hundred of thousands in advertising, hiring, developing technology and more, we
                        know what works and what doesn’t. We have long-term strategies and systems needed to predictably
                        and
                        sustainably scale your company.</p>
                </div>
            </div>
            <div class="col-4 col-lg-5">
            </div>
        </div>
        <div class="row d-block d-lg-none">
            <div class="bg-dark pb-3 mb-3">
                <img class="img-fluid py-3" src="/images/team-image-1.jpg"
                    alt="Many have a made a fortune from selling their business" />
                <div class="text-white p-3" style="max-width:540px;">
                    <h3>Many Have Made A Fortune</h3>
                    <p>After spending hundred of thousands in advertising, hiring, developing technology and more, we
                        know what works and what doesn’t. We have long-term strategies and systems needed to predictably
                        and
                        sustainably scale your company.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-750 mt-0 mb-3 pb-3">
    <div class="row">
        <div class="mx-auto col-12 col-lg-10 text-center px-3">
            <h2 class="h1">About <strong>This Team</strong></h2>
            <p> The global leader of technical training for people seeking careers as an aircraft maintenance
                technician.
            </p>
        </div>
    </div>
</div>
<div class="position-relative overflow-hidden mb-5">
    <div class="container-1000 py-lg-0 mx-auto bg-light">
        <div class="row position-relative">
            <div class="mx-auto col-10 col-lg-7 h-100">
                <div class="mx-auto align-middle mt-5" style="height: 360px; width: 300px;">
                    <img class="img-fluid align-middle" src="images/robert_johnson.jpg" alt="Robert Johnson" />
                </div>
                <!-- <img src="images/robert_johnson.jpg" alt="Robert Johnson" /> -->
            </div>
            <div class="bg-light p-3 mx-auto col-10 col-lg-5 d-lg-block pe-5">
                <h5 class="block-number text-primary pt-5">Chairman</h5>
                <h3 class="block-title h2 d-inline-block">Robert Johnson</h3>
                <p class="block-text">Robert D. Johnson is the Chairman
                    of the Board for Spirit Airlines since
                    July 2010. Mr. Johnson retired in
                    2008 as CEO of Dubai Aerospace
                    Enterprise (DAE). In 2005, prior to
                    DAE, Mr. Johnson was Chairman of
                    Honeywell Aerospace where he also
                    served prior to 2005 as President
                    and CEO. Prior to Honeywell
                    Aerospace, Mr. Johnson held
                    management positions at various
                    aviation and aerospace companies.
                    He served on the board of directors
                    of Ariba, Inc, from 2005 to 2012,
                    and currently serves on the board
                    of directors of Spirit Aerosystems, a
                    publicly traded aerospace
                    components company, and Roper
                    Industries, Inc., a publicly traded
                    diversified industrial company.</p>
            </div>
        </div>
    </div>
</div>
<div class="bg-dark mt-4 py-1">
    <div class="container-1000 my-3">
        <div class="row d-block d-md-none">
            <div class="d-flex d-md-none col-12 col-lg-7">
                <div class="w-50 px-4">
                    <img class="img-fluid" src="images/jeff_bacsik.jpg" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="p-3 ps-5 col-12 col-md-6 mb-2 mb-lg-5">
                <h5 class="block-number text-primary">Board Director</h5>
                <h3 class="block-title h2 text-white d-inline-block">Jeff Bacsik</h3>
                <p class="block-text text-white">Jeffrey Bacsik is a retired Audit Partner with a career
                    that focused on large commercial clients in the
                    services and manufacturing industries. He has also
                    worked extensively with clients in the health care,
                    retail, technology, and financial services industries.
                    Jeff has more than 40 years of diversified
                    experience, providing accounting, auditing, and
                    advisory services to middle market domestic
                    companies as well as organizations with worldwide
                    operations. He has considerable expertise in
                    corporate restructurings, mergers and acquisitions,
                    business planning, acquisition financing, due
                    diligence, risk management, multinational business,
                    and international accounting standards.
                    Jeff most recently served as Chief Executive Officer
                    of a diversified investment and operating group, and
                    is a former Partner of a Big 4 accounting firm, where
                    he was the Market Unit Leader of its International
                    Services Group.</p>
            </div>
            <div class="d-none d-md-flex col-4 col-md-6">
                <div class="mx-auto align-middle mt-5" style="height: 360px; width: 300px;">
                    <img class="img-fluid" src="images/jeff_bacsik.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="technology" class="container-1000 my-5 overflow-hidden">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-6">
            <div class="align-middle mt-5 mx-lg-auto" style="height: auto;max-width: 280px;">
                <img class="img-fluid" src="images/robert_miller.jpg" />
            </div>
        </div>
        <div class="p-5 col-12 col-md-8 col-lg-6">
            <h5 class="block-number text-primary">Board of Director</h5>
            <h3 class="block-title h2 d-inline-block">Robert Miller</h3>
            <p class="block-text">Wealth of experience in corporate law,
                mergers and acquisitions, intellectual
                property strategy, technology licensing,
                contract law, litigation and claims defense.
                Built and developed strong legal teams
                both domestically and internationally to
                meet the ever changing legal landscape.</p>
        </div>
    </div>
</div>
<div id="finance">
    <div class="container-1000 my-5">
        <div class="row">
            <div class="p-5 col-12 col-md-8 col-lg-6">
                <h5 class="block-number text-primary">Board of Director</h5>
                <h3 class="block-title h2 d-inline-block">Dave Chamberlain</h3>
                <p class="block-text">Dave Chamberlin is an aircraft
                    maintenance training expert nearly three
                    decades in aircraft maintenance technical
                    training. Currently serving as the Senior
                    Manager of Maintenance Training at
                    regional airline Republic Airways,
                    Chamberlin’s previous career highlights
                    include his role as Chief Master Sergeant
                    in the U.S. Air force, and Training
                    Development Manager at Rolls-Royce.
                    With an educational background in both
                    aviation maintenance management and
                    adult education, and a decade of
                    experience teaching graduate-level
                    aviation courses himself. Chamberlin
                    brings his andragogical and technical
                    expertise, framed by his self-discipline and
                    leadership skills developed during his
                    impressive military career.</p>
            </div>
            <div class="col-12 col-md-4 col-lg-6 pt-3 pt-lg-5 mb-5">
                <div class="mx-auto align-middle mt-5 mb-5" style="height: auto; width: 360px;">
                    <img class="img-fluid" src="images/dave_chamberlain.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="bg-light py-3">
    <div class="container-1000 mt-5 mb-2">
        <div class="row">
            <div class="col-12 col-lg-5">
                <h2 class="h1">Companies Who <br><strong>Meet Our Criteria</strong></h2>
            </div>
            <div class="col-12 col-lg-7">
                <ul class="list-unstyled pt-3">
                    <li class="d-flex py-2">
                        <span class="text-primary pe-2">
                            <svg xmlns="http://www.w3.org/2000/svg" style="width:24px;" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                            </svg>
                        </span>
                        <span>Your company is an industry leader.</span>
                    </li>
                    <li class="d-flex py-2">
                        <span class="text-primary pe-2">
                            <svg xmlns="http://www.w3.org/2000/svg" style="width:24px;" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                            </svg>
                        </span>
                        <span>Your company has been in business for more than 10+ years.</span>
                    </li>
                    <li class="d-flex py-2">
                        <span class="text-primary pe-2">
                            <svg xmlns="http://www.w3.org/2000/svg" style="width:24px;" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                            </svg>
                        </span>
                        <span>Your company has a steady revenue stream of more than $150k+ a year.</span>
                    </li>
                    <li class="d-flex py-2">
                        <span class="text-primary pe-2">
                            <svg xmlns="http://www.w3.org/2000/svg" style="width:24px;" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                            </svg>
                        </span>
                        <span>Your company can use digital marketing to scale.</span>
                    </li>
                    <li class="d-flex py-2">
                        <span class="text-primary pe-2">
                            <svg xmlns="http://www.w3.org/2000/svg" style="width:24px;" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                            </svg>
                        </span>
                        <span>Your company has a proven management team with 10 years of experience.</span>
                    </li>
                </ul>
                <div class="alert alert-secondary py-2" role="alert">
                    <p></p>NOTE: This is not a venture capital or angel investment opportunity. We are not looking to
                    acquire
                    tech startups.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contact" class="py-4">
    <div class="container-1000 my-5">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-5">
                <h2 class="h1">Make An <br><strong>Enquiry Now</strong></h2>
                <p>Reach out to us and we’ll get back to you as soon as possible.</p>
            </div>
            <div class="p-3 col-12 col-md-8 col-lg-7">
                <form class="needs-validation" novalidate="">
                    <div class="row g-2 justify-content-between">
                        <div class="col-12 col-md-6">
                            <input type="text" class="form-control" id="firstName" placeholder="First name" value=""
                                required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <input type="text" class="form-control" id="lastName" placeholder="Last Name" value=""
                                required="">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                            <div class="invalid-feedback">
                                Please enter a valid email address.
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <input type="phone" class="form-control" id="phone" placeholder="Phone">
                            <div class="invalid-feedback">
                                Please enter a valid phone number.
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <input type="text" class="form-control" id="company-url" placeholder="Company Url">
                            <div class="invalid-feedback">
                                Please enter a valid url.
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <select class="form-select" id="number-of-employees" name="Number-of-employees"
                                data-name="Number of employees" required="">
                                <option value="Number of employees">Number of employees</option>
                                <option value="1-5">1-5</option>
                                <option value="5-25">5-25</option>
                                <option value="25-50">25-50</option>
                                <option value="50-100">50-100</option>
                                <option value="100-500">100-500</option>
                                <option value="500-1000">500-1000</option>
                                <option value="1000+">1000+</option>
                            </select>
                        </div>

                        <div class="col-12 col-md-6">
                            <input type="text" class="form-control" id="industry" placeholder="Industry">
                        </div>

                        <div class="col-12 col-md-6">
                            <select class="form-select" id="what-Is-Your-Current-Annual-Revenue"
                                name="what-Is-Your-Current-Annual-Revenue"
                                data-name="what Is Your Current Annual Revenue?" required="">
                                <option value="what Is Your Current Annual Revenue?">What Is Your Current Annual
                                    Revenue?</option>
                                <option value="Under $150,000">Under $150,000</option>
                                <option value="$150,000 - $250,000">$150,000 - $250,000</option>
                                <option value="$250,000 - $1,000,000">$250,000 - $1,000,000</option>
                                <option value="$1,000,000 - $10,000,000">$1,000,000 - $10,000,000</option>
                                <option value="$10M+">$10M+</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-4">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end }}